.contactSection {
  // position: relative;
  // top: -125px;
  background: $light;
  h2 {
    padding: 10px 0;
    text-align: center;
  }

  div {
    display: flex;
    justify-content: space-around;
    font-weight: 0;
    span {
      h3 {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
      }
      img {
        max-width: 300px;
        border-radius: 10px;
      }
      a {
        margin: 0 auto;
        button{
          background: $medium;
        }
        button:hover{
          background: $dark;
          color: white;
        }
      }
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 750px) {
    div {
      flex-direction: column;
      align-items: center;
    }
  }
}
