.headerImage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
  background: $white;
  margin-top: 50px;
  max-height: 600px;
  .headerPic {
    max-height: 500px;
  }
  .profilePic {
    height: 250px;
    position: relative;
    top: -125px;
    border-radius: 100%;
    border: 5px solid $white;
    
  }
  .profileDescription {
    max-width: 300px;
    font-size: 18px;
    position: relative;
    top: -120px;
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  .headerImage {
    max-height: 400px;
    .headerPic {
      max-height: 250px;
    }
  }
}
