.headerImage {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    overflow: hidden;
    background: $white;
    padding-bottom: 15px;
	margin-top: 50px;
    .profilePic {
        height: 250px;
        position: relative;
        top: -125px;
        border-radius: 100%;
    }
	.profileDescription {
        max-width: 300px;
        font-size: 18px;
        position: relative;
        top: -120px;
        text-align: center;
	}
}
@media only screen and (max-width: 600px) {
    .headerPic{
        max-height: 250px;
    }
  }