.sliderSection {
  h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-weight: 0;
  }
  // position: relative;
  // top: -120px;
  padding-bottom: 10px;
  background: linear-gradient(
    90deg,
    $medium 0%,
    $white 10%,
    $white 90%,
    $medium 100%
  );
}
