.skillsPage{
    position: relative;
    top: -120px;
    background: $light;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.skillsList{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    img {
        max-width: 150px;
    } 
    
    p {
        
    }
}