// TABLE OF CONTENTS

// 1. reset
// 2. variables
// 3. mixins
// 4. functions
// 5. globals


// ===== 1. RESET =====//

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// ===== 2. VARIABLES ===== //
$text-white: white;
$text-black: black;
$white: rgb(172,203,255);
$light: rgb(146,187,255);
$medium: rgb(120,170,255);
$dark: rgb(100,158,255);

// ===== 3. MIXINS ===== //

@mixin shadow($color) {
    -webkit-box-shadow: 6px 6px 40px -2px  $color;
    -moz-box-shadow: 6px 6px 40px -2px  $color;
    box-shadow: 6px 6px 40px -2px  $color;
	}
@mixin flexo($flex-direction: row, $justify-content: center, $align-items: center){
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
}
  
// ===== 4. FUNCTIONS ===== //


// ===== 5. GLOBALS ===== //
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
body {
	background: $dark;
	box-sizing: border-box;
}
h1 {
  font: {
    family: 'Oswald', sans-serif;
	size: 36px;
  }
	margin: 0px auto;
}
h2 {
  font: {
	family: 'Oswald', sans-serif;
	size: 24px;
  }
	// margin: 5px auto;

}


p, a, div, button {
  font: {
    family: 'Open Sans', sans-serif;
    size: 16px;
  }
}

button{
	background-color: $light;
	border-radius: 5px;
	padding: 2px 10px;
	margin: 10px 0px
}
button:hover {
	background-color: $light;
	opacity: .7;
}
.profile_pic {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 25%;
}
.Dropzone {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	box-sizing: border-box;
	border-width: 3px;
	margin: 10px 0;
	border-color: $white;
	background: $light;
	border-style: solid;
	border-radius: 5px;
	@include flexo(column);
	font-size: 28px;
	overflow: hidden;

}
.center-slide {
	@include flexo(row, center, center);
	img{
		width: 200px;
	}
	p {
		position: relative;
		top: -26px;
		text-align: center;
		background: rgba(0, 0, 0, .5);
		padding: 5px 0;
		color: $text-white;
		width: 200px;
		margin: 0 auto;
	}
}
a {
	text-decoration: none;
}
.post-info {
	@include flexo(row, space-between, center);
	p {
		@include flexo(row, space-between, center);
		color: black;
		text-decoration: none;
	}
		img {
			position: relative;
			margin-right: 3px;
		}
}
.new-post-upload {
	@include flexo(row, flex-start, flex-end);
}
.title {
	width: 80%;
}
.post-container {
	h2 {
		color: $dark;
	}
	margin-top: 15px;
	border: 2px black solid;
	border-radius: 7px;
}
.post-container:active{
	background-color: $white;
	h2 {
		color: $medium;
	}
	}
.settings-box {
	position: relative;
	width: 350px;
}
.header {
	position: relative;
	margin-bottom: 50px;
}
.input-box {
		@include flexo(row, flex-end);
	input {
		border: 1px solid $dark;
		margin-bottom: 5px;
		padding: .3em .5em;
		border-radius: 5px;
		overflow: hidden;
	}
	textarea {
		min-width: 250px;
		max-width: 600px;
		max-height: 200px;
		width: 80%;
		height: 150px;
		border: 1px solid $dark;
		margin: 0 auto;
	}
	button {
		margin: 10px auto;
		width: 100px;
	}
}

.post-preview {
	margin: 0 auto;
	max-width: 350px;
	@include flexo();
}
.content-area {
	background-color: $white;
	padding: 10px;
	box-sizing: border-box;
}
.desktop-body {
	background: $white;
	min-height: calc(100% - 50px);
}
.App {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
@media only screen and (min-width: 751px) {
	.desktop-body {
		position: relative;
		width: 60%;
		margin-left: calc((100% - 60%)/1.5);
		min-height: 100%;
		padding: 5px 10px;
		box-sizing: border-box;
	}
	.post-container {
		width: 400px;
		min-height: 200px;
	}
	#flex-post-container{
		position: relative;
		@include flexo(row, space-around, flex-start);
		flex-wrap: wrap;

	}
	.header-background {
		margin-top: 0px;
	}
}





